.register_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    width: 100%;
    padding: 4rem 8rem;
    overflow: hidden;
  
    .welcome_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(
          45deg,
          rgba(143, 62, 112, 1) 60%,
          rgba(197, 100, 158, 1) 100%
        );
        border-radius: 1rem 0 0 1rem;
        gap: 3rem;
        padding: 0 3rem;
    
        .welcome_title {
          font-size: 2.5rem;
          font-weight: bold;
        }
    
        .welcome_description {
          text-align: center;
        }
      }

    .register_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: var(--foreground);
      border-radius: 0 1rem 1rem 0;
      color: var(--background);
      gap: 1rem;
      padding: 0 3rem;
  
      .register_title {
        font-size: 2.5rem;
        font-weight: bold;
        background: linear-gradient(
          45deg,
          rgba(143, 62, 112, 1) 60%,
          rgba(197, 100, 158, 1) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      }

      .register_description {
        text-align: center;
        margin-bottom: 1rem;
      }
  
      .register_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        width: 80%;
  
        .input_container {
          position: relative;
          width: 100%;
  
          input {
            width: 100%;
            font-size: 0.8rem;
            padding: 0.7rem 1rem;
            border: var(--background) 1px solid;
            border-radius: 0.5rem;
            outline: none;
          }
  
          label {
            position: absolute;
            top: 50%;
            left: 1rem;
            transform: translateY(-50%);
            transition: all 0.3s ease-in-out;
            pointer-events: none;
          }
  
          input:focus ~ label,
          input:not(:placeholder-shown) ~ label {
            top: 0;
            left: 1rem;
            transform: translateY(-50%);
            font-size: 0.8rem;
            color: var(--background);
            background: var(--foreground);
            padding: 0 0.5rem;
            border-left: var(--background) 1px solid;
            border-right: var(--background) 1px solid;
          }
        }
  
        .error_message {
          color: red;
        }
      }
  
      .register_button {
        width: 80%;
        margin: 1rem auto;
        transition: all 0.3s ease-in-out;
  
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  